.searchbar {
	grid-area: searchbar;
	position: relative;
	width: 100%;
}
.search-form-input {
	width: 100%;
	background-color: blueviolet;
	color: whitesmoke;
}
.search-form-input::placeholder {
	color: gainsboro;
	padding-left: 1rem;
}
.input-btn {
	position: absolute;
	top: 0rem;
	right: 1rem;
}
.lang-btn {
	background: none;
	color: white;
}
