* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-component {
	/* background: rgb(148, 148, 235); */
	/* background: linear-gradient(
		169deg,
		rgba(148, 148, 235, 1) 0%,
		rgba(247, 247, 247, 1) 100%
	); */
	display: grid;
	height: 100vh;
	grid-template: 1fr 100fr 1fr/1fr 200fr;
	grid-template-areas:
		"sidebar searchbar"
		"sidebar main"
		"player player";
}
.top-songs {
	margin-top: 10rem;
}
.card {
	min-width: max-content;
	border-radius: 10px;
}
.card > img {
	border-radius: 10px 10px 0 0;
}
.top-songs-cards,
.genres-cards,
.your-playlist-cards,
.radio-cards,
.retro-classic-cards,
.featured-artists-cards,
.new-releases,
.top-news-card {
	overflow: auto;
	max-width: 90vw;
	/* padding-left: 1rem; */
	margin: 2rem auto;
}
